.blank {
  color: white;
}

.rose {
  font-family: 'Courier New', Courier, monospace;
  padding-top: 20px;
  height: 297px;
  width: 210px;
  font-size: 8px;
  font-weight: bold;
  color: black;
  background-color: #c21e56;
}

.rose_thumb {
  width: 400px;
  height: 100px;
  top: 50px;
  left: 100px;
  position: absolute;
  border-radius: 25px;
  background-color: #c21e56;
  background-size: 500px;
  text-align: center;
  padding-top: 25px;
  font-family: fantasy;
  font-size: 40px;
}

.aqua {
  font-family: 'Courier New', Courier, monospace;
  padding-top: 20px;
  height: 297px;
  width: 210px;
  font-size: 8px;
  font-weight: bold;
  color: black;
  background-color: aqua;
}

.aqua_thumb {
  width: 400px;
  height: 100px;
  top: 50px;
  left: 950px;
  position: absolute;
  border-radius: 25px;
  background-color: aqua;
  background-size: 500px;
  text-align: center;
  padding-top: 25px;
  font-family: fantasy;
  font-size: 40px;
}

.green {
  font-family: 'Courier New', Courier, monospace;
  padding-top: 20px;
  height: 297px;
  width: 210px;
  font-size: 8px;
  font-weight: bold;
  color: black;
  background-color: #ACE1AF;
}

.green_thumb {
  width: 400px;
  height: 100px;
  left: 100px;
  top: 325px;
  position: absolute;
  border-radius: 25px;
  background-color: #ACE1AF;
  background-size: 500px;
  text-align: center;
  padding-top: 25px;
  font-family: fantasy;
  font-size: 40px;
}

.yellow {
  font-family: 'Courier New', Courier, monospace;
  padding-top: 20px;
  height: 297px;
  width: 210px;
  font-size: 8px;
  font-weight: bold;
  color: black;
  background-color: #F4C430;
}

.yellow_thumb {
  width: 400px;
  height: 100px;
  left: 950px;
  top: 325px;
  position: absolute;
  border-radius: 25px;
  background-color: #F4C430;
  background-size: 500px;
  text-align: center;
  padding-top: 25px;
  font-family: fantasy;
  font-size: 30px;
}

.message_render {
  text-align: center;
  font-size: 20px;
  font-family: fantasy;
  font-weight: bold;
  color: black;
}

.nav_rectangle {
  position: absolute;
  width: 1440px;
  height: 100px;
  left: 0px;
  top: 0px;
  opacity: 0.5;
  background: #FAFCAF;
}

.e_card {
  position: absolute;
  width: 231px;
  height: 50px;
  left: 0px;
  top: 0px;
  font-family: cursive;
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 75px;
  text-align: center;
  color: #000000;  
}

.logout_button {
  position: absolute;
  width: 100px;
  height: 75px;
  top: 0px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 69px;
  text-align: center;
  color: #000000;  
  left: 1300px;
  text-align: center;
  color: #000000;
  cursor:pointer;
  border-style: solid;
  border-color: #000000;
  border-radius: 5pt;
}

.welcome {
  position: absolute;
  width: 231px;
  height: 50px;
  left: 1060px;
  top: 0px;
  font-family: cursive;
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 75px;
  text-align: center;
  color: #000000;  
}

.form_link {
  position: absolute;
  left: 825px;
  top: 0px;
  font-family: courier;
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 75px;
  text-align: center;
  color: #000000;  
}

.my_cards_link {
  position: absolute;
  left: 600px;
  top: 0px;
  font-family: courier;
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 75px;
  text-align: center;
  color: #000000;  
}

.home_link {
  position: absolute;
  left: 450px;
  top: 0px;
  font-family: courier;
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 75px;
  text-align: center;
  color: #000000;
}

.form {
  text-align: center;
  padding-top: 30px;
}

.render_cards {
  padding-top: 40px;
}

.form_background {
  position: absolute;
  width: 1440px;
  height: 750px;
  left: 0px;
  top: 75px;
  border: 1px solid #000000;
  box-sizing: border-box; 
  background-color: #f5e9a4;
  background-size: 1500px;
}

.form_input_rectangle {
  position: absolute;
  width: 575px;
  height: 261px;
  left: 452px;
  top: 175px;
  background: #FAFCAF;
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 10px;
}

.form_edit_rectangle {
  text-align: center;
}

.home_background {
  background-color: #f5e9a4;
}

.top {
  padding-top: 140px;
}